* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

$favbg: #53ccd5;

%bt {
    border: 1px solid red;
}

main {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;

    >.row {
        >header {
            width: 100%;
            height: 100px;

            >.row {
                height: 100%;

                >div {
                    width: 100%;

                    &:first-of-type {
                        height: 35%;
                        background-color: rgb(108, 108, 235);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        color: beige;
                        text-transform: capitalize;
                    }

                    &:last-of-type {
                        height: 65%;
                        background-color: #e7ecee;
                        padding: 0 50px;

                        >.row {
                            height: 100%;

                            >* {
                                height: 100%;


                            }

                            >figure {
                                width: 20%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                >img {
                                    height: 90%;
                                }
                            }

                            >nav {
                                width: 60%;

                                >ul {
                                    width: 100%;
                                    height: 100%;
                                    justify-content: center;


                                    >li {
                                        list-style-type: none;

                                        >a {
                                            // background-color: chartreuse;
                                            display: flex;
                                            height: 100%;
                                            align-items: center;
                                            text-decoration: none;
                                            font-size: 20px;
                                            text-transform: capitalize;
                                            color: rgb(133, 133, 118);
                                            padding: 15px;

                                            &:hover {
                                                background-color: rgba(228, 131, 131, 0.445);
                                            }

                                        }
                                    }
                                }

                            }

                            >div {
                                width: 20%;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                justify-content: center;

                            }
                        }
                    }
                }
            }

        }

        //    end header..
        >.slider {
            width: 100%;
            height: 400px;
            background-color: #6df1fa;

            >.row {
                height: 100%;

                >* {
                    height: 100%;
                }

                >div {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >h1 {
                        width: 80%;
                        font-size: 40px;
                        color: rgb(85, 81, 81);
                        text-transform: capitalize;
                        background-color: rgba(248, 243, 235, 0.349);
                        padding: 20px;
                    }
                }

                >figure {
                    width: 50%;
                    justify-content: center;
                    align-items: center;

                    >img {
                        width: 58%;
                        height: 100%;
                    }
                }
            }

        }

        // end slider
        >.row {
            width: 100%;
            height: 350px;
            justify-content: center;
            align-items: center;

            >* {
                width: 300px;
                height: 350px;
                background-color: rgb(145, 165, 231);
                border-radius: 3px;
                overflow: hidden;
            }

            >.row {
                margin: -120px 10px 0 10px;

                >figure {
                    width: 100%;
                    height: 80%;
                    padding: 7px 7px;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 3px;
                    }
                }

                >div {
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >h1 {
                        color: rgb(252, 248, 248);
                        font-size: 20px;
                        text-transform: capitalize;
                    }
                }

            }
        }

        //    end figurs
        >.row2 {
            width: 100%;
            height: 400px;
            background-color: rgba(213, 227, 245, 0.603);
            margin: 34px;

            >.row {
                height: 100%;

                >* {
                    width: 50%;
                    height: 100%;

                }

                >div {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >p {
                        width: 400px;
                        font-size: 30px;
                        text-transform: capitalize;
                    }
                }

                >figure {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    >img {
                        width: 60%;
                        height: 90%;
                        border-radius: 50%;

                    }
                }

            }

        }

        // end row2
        >footer {
            width: 100%;
            height: 50px;
            background-color: rgb(95, 95, 219);

            >.row {
                height: 100%;
                align-items: center;

                >h1 {
                    font-size: 10px;
                    color: white;
                    margin-left: 10px;

                }
            }
        }

    }
}